<div class="side-bar">
    <!-- <div class="nav">
 hr -->
    <div class=”side-bar”>
        <div class="nav">
            <a href="{% url 'videos:index' %}" class="nav-link active">
                <i class="material-icons">home</i>
                Главная
            </a>
            <a class="nav-link" href="{% url 'videos:follow_index' %}">
                <i class="material-icons">subscriptions</i>
                <span>Подписки</span>
            </a>
        </div>
        <hr>
    </div>
    <a class="nav-link" href="{% url 'videos:profile' user %}">
        <i class="material-icons">play_arrow</i>
        <span>Ваши видео</span>
    </a>
    <a class="nav-link">
        <i class="material-icons">thumb_up</i>
        <span>Понравившиеся</span>
    </a>
    <!-- </div> -->
</div>